<form class="auth-form" [formGroup]="authForm" (ngSubmit)="onSubmit()">
  <app-input
    inputType="email"
    label="Email"
    [control]="emailControl"
  ></app-input>
  <app-input
    inputType="text"
    label="Password"
    [control]="passwordControl"
  ></app-input>
  <app-input
    inputType="text"
    label="Password confirmation"
    [control]="passwordConfirmation"
  ></app-input>
  @if (authForm.get('password')?.touched &&
  authForm.get('passwordConfirmation')?.touched && authForm.errors) {
    @if (authForm.errors['passwordMismatch']) {
        <mat-error class="error">Password and Password Confirmation must match</mat-error>      
    }
  }
  <app-button
    type="submit"
    [disabled]="authForm.invalid"
    title="Register"
  ></app-button>

</form>
